@model TorgetAd

<a class="ad-container" asp-area="Annonser" asp-page="/Annons" asp-route-id=@Model.Id>
    <img class="ad-container-image" src="@Model.AdImages.First().Url" alt="Image for @Model.Title" />
    <h5 class="ad-container-title">@Model.Title</h5>
    <span class="ad-container-tags">
        @foreach (Tag tag in Model.Tags)
        {
            <p>#@tag.TagName</p>
        }
    </span>
    <div class="ad-container-zipcode">
        <i class="fa-solid fa-compass"></i>
        <p>@Model.TorgetUser.County</p>
    </div>
    <p class="ad-container-price">@Model.Price SEK</p>
</a>